html{
    scroll-snap-type: y mandatory;
}
.app{
    height: 100vh;
    background-color: #000000;
    display: grid;
    place-items: center;
}
.app__container{
    position: relative;
    height: 800px;
    border-radius: 20px;
    overflow: scroll;
    width: 80%;
    max-width: 500px;
    scroll-snap-type: y mandatory;

}
.app__container::-webkit-scrollbar{
    display: none;
}
.app__container{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media screen and (max-width: 760px){
    .app__container{
        height: 95vh;
    }
}