.videoFooter {
  color: #fff;
  position: relative;
  bottom: 150px;
  display: flex;
  margin-left: 20px;
}
.videoFooter__text {
  flex: 1;
}
.videoFooter__text p {
  padding-bottom: 15px;
}
.videoFooter__text h3 {
  padding-bottom: 15px;
}
.videoFooter__ticker .ticker {
  height: fit-content;
  margin-left: 30px;
  width: 60%;
}
.videoFooter__ticker p {
  padding-top: 7px;
}
.videoFooter__icon {
  position: absolute;
}
.videoFooter__record {
  animation: spinTheRecord infinite 5s linear;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 20px;
  filter: invert();
}
@keyframes spinTheRecord {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
